PROJECT_NAME=fraud-lakehouse-mllib
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_RAW_TOPIC=transactions.raw
KAFKA_SCORED_TOPIC=transactions.scored
KAFKA_ALERTS_TOPIC=fraud.alerts
HDFS_NAMENODE=hdfs://hadoop-namenode:8020
ICEBERG_WAREHOUSE=hdfs://hadoop-namenode:8020/lakehouse/warehouse
HIVE_METASTORE_URI=thrift://hive-metastore:9083
SPARK_MASTER_URL=spark://spark-master:7077
MODEL_BASE_PATH=hdfs://hadoop-namenode:8020/lakehouse/models/fraud_ensemble
MODEL_VERSION=local-dev
DEFAULT_THRESHOLD=0.5
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

