.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.log
.env
data/input/creditcard.csv
data/output/
!data/output/powerbi/
!data/output/powerbi/.gitkeep
models/*
!models/.gitkeep
spark-warehouse/
metastore_db/
derby.log
airflow/logs/
airflow/plugins/
airflow/config/
.idea/
.vscode/

